---
title: Floor x Floor on the dance four
description: Sunny House-beats from the darkest corner of the web. UniCron is real!
image: /images/pages/1-acid-bench.jpeg
layout: default
---
{% include relBase.html %}
{% include header.html %}
<section class="releases">
  <h2>EPs and LPs</h2>
  {% assign sorted = site.albums | sort: 'date' | reverse %}
  {% for album in sorted %}
  {% for post in site.posts %}
  {% if album.slug == post.album %}
  {% if post.tags contains 'EP' or post.tags contains 'LP' %}
  <article>
    <figure>
      <a href="{{ post.url }}">
        <img src="{{ site.mediaurl }}/{{ album.tracks[0].slug }}.jpeg" /></a>
      <figcaption>
        <strong>{{ album.name }}</strong><br />

        {% assign total = 0 %}
        {% for track in album.tracks %}
          {% assign total = total | plus: track.format.duration %}
        {% endfor %}
    

        {% assign round_seconds = total | round %}{% assign minutes = round_seconds | divided_by: 60 %}{% assign leftover_seconds = minutes | times: 60 %}{{ minutes }}:{% assign seconds_without_zero = round_seconds | minus: leftover_seconds %}{% if seconds_without_zero < 10 %}0{% endif %}{{ seconds_without_zero }}

<br />


        {{ album.date | date: '%Y' }}
      </figcaption>
    </figure>
  </article>
  {% endif %}
  {% endif %}
  {% endfor %}
  {% endfor %}
</section>
<section class="releases">
  <h2>Singles</h2>

  {% for track in sorted %}
  {% for post in site.posts %}
  {% if track.slug == post.album %}
  {% if post.tags contains 'single' %}

  <article>
    <figure>
      <a href="{{ post.url }}">
        <img src="{{ site.mediaurl }}/{{ track.tracks[0].slug }}.jpeg" /></a>
      <figcaption>
        <strong>{{ track.tracks[0].common.title }}</strong><br />
        {% assign round_seconds = track.tracks[0].format.duration | round %}{% assign minutes = round_seconds | divided_by: 60 %}{% assign leftover_seconds = minutes | times: 60 %}{{ minutes }}:{% assign seconds_without_zero = round_seconds | minus: leftover_seconds %}{% if seconds_without_zero < 10 %}0{% endif %}{{ seconds_without_zero }} |
        {{ track.tracks[0].common.genre }} 
      </figcaption>
    </figure>
  </article>
  {% endif %}
  {% endif %}
  {% endfor %}
  {% endfor %}
</section>