/* NAVIGATION */

#navbar {
  z-index: 10000;
  display: block;
}
.logo {
  filter: blur(20px);
  opacity: 0;
  text-decoration: none;
  position: fixed;
  top:0;
  width: 100%;
  height: 80px;
  z-index: 100;
  -webkit-transition: all 400ms ease-in;
  -moz-transition: all 400ms ease-in;
  transition: all 400ms ease-in;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 95% 95%;
  -webkit-transition: all 400ms ease-in;
  -moz-transition: all 400ms ease-in;
  transition: all 400ms ease-in;
  -webkit-box-shadow: 0px 3px 29px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 3px 29px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 3px 29px 0px rgba(0,0,0,0.15);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  > a {
    height: 40px;

  }

}
.logo:hover {
  filter: blur(0px);
  opacity: 1;
  -webkit-transition: all 400ms ease-in;
  -moz-transition: all 400ms ease-in;
  transition: all 400ms ease-in;
  background-color: _palette(bg);

}
.sticky {
  filter: blur(0px);
  opacity: 1;
  background-color: _palette(bg);
  -webkit-transition: all 400ms ease-in;
  -moz-transition: all 400ms ease-in;
  transition: all 400ms ease-in;

 }
.navmenu {
  margin: 0 40px 0 20px;
  font-size: 34px;
  color:_palette(accent1);
}
 
 
nav {
  position: absolute;
  width: 300px;
  max-height: 90vh;
  max-width: 90vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: _palette(bg);
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  ul {
    padding: 20px;
    width: 100%
  }
  li {
    list-style-type: none;
    margin: 20px;
    padding: 0;
    a {
      display: block;
      font-size: 14px
    }
  }
 }
 .blurredout {
  filter: blur(5px);
  -webkit-transition: filter 400ms ease-in;
  -moz-transition: filter 400ms ease-in;
  transition: filter 400ms ease-in;
 }

.modalDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: _palette(bg-alt);
  z-index: 10;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
  
}

.modalDialog:target {
  opacity:1;
  pointer-events: auto;
}

.modalDialog > div {

  display: flex;
  align-items: center;
  position: relative;
  margin: 100px auto;
  padding: 20px;
  border-radius: 3px;
  background: rgb(0, 31, 36);
  background: -moz-linear-gradient(#000, rgb(0, 31, 36));
  background: -webkit-linear-gradient(#000, rgb(0, 31, 36));
  background: -o-linear-gradient(#000, rgb(0, 31, 36));
}

.close-button {
  background-color: _palette(accent2);
  color: _palette(accent1);
  margin: 0 auto;
  line-height: 48px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 48px;
  height: 48px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 48px;
  transition: all 400ms ease-in;
}

.close-button:hover {   
  background-color: _palette(accent1); 
  color: _palette(accent2);

}

#closearea {
  position: fixed;
  width: 100%;
  height: 100%;

}
