---
layout: default
---
<header class="hero">
  <h1>{{ page.title }}</h1>
  <h3>{{ page.description }}</h3>
  <div class="imagecontainer" style="background-image: url({{ page.image }});"></div>
</header>
<section>
{{ content }}
</section>